@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titillium+Web:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container_grid{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    display:none;
}

header {
    background-color: #1E1C21;
    height: 80px;
}

.cabecalho_alinhamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    width: 660px;
    display:flex;
    justify-content: space-between;
}

.menu a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.menu a:hover {
    color: #fff;
    scale: 1.1;
}

.barras {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    display: none;
}

.banner {
    background-image: url(../img/banner.png);
    height: 600px;
    background-repeat: none;
    background-size: cover;
}

.posicao_texto {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
}

.texto_banner{
    color: #fff ;
    text-align: center;
}

.texto_banner span {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

.texto_banner p {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 60px;
}

.texto_banner a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #C31616;
    padding: 15px 60px;
    border-radius: 5px;
    font-size: 20px;
}

.secao_jogos{
    background-color: black;
    padding: 30px;
}

.linha_jogos {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.secao_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 215px;
    margin: 20px;
    background-color: #1E1C21;
    color: #fff;
    border-color: rgb(190, 184, 184);
    box-shadow: 0px 0px 50px black;

}

.card a {
    padding: 10px;
    margin: 15px;
    background-color: #C31616;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center; 
    border-radius: 10px;

}
.card *:not(:first-child){
    margin: 5px 10px;
}

.ofertas {
    background-color: #1E1C21;
    padding: 30px;
}

.ofertas h2{
    color: #fff;
    margin-left: 80px;
}

footer{
    background-color: black;

}

.rodape{
    display: flex;
}

.links_footer{
    display: flex;
}

@media screen and (max-width: 1100px){

.menu {
    width: 550px;
    
        
}
.menu a {
    font-size: 14px;
        
}

.logo {
    width: 200px;
    margin-right: 20px;
}


}

@media screen and (max-width: 768px){

    .cabecalho_alinhamento
    {
        position:relative;  

    }
    .menu {
        display:none;
        flex-direction: column;
        position: absolute;
        right: 0px;
        width: 130px;
        top: 70px;
        background-color: #1e1c21eb;
        border-radius: 10px;
        box-shadow: 0px 0px 30px black;
    }

    .menu a {
        margin: 5px 10px 5px 5  px;
        margin-bottom: 20px;
        text-align: end;
        font-weight: 400px;

    }
    .barras {
        display:flex;
    }
}